<h2> Statistics</h2>


   Emails sent: <%= @email.event_count('send') %> <br>
   Emails open: <%= @email.event_count('open') %> <br>
   Emails click: <%= @email.event_count('click') %> 

    <br>
    <table>
		  <tr>
		    <th>Email type</th>
		    <th>Click rate</th>
		    <th>Open rate</th>
		  </tr>
  		<tr>
				<% @email.email_types.each do |email_type| %>
		    	<td><%= email_type %></td>
		     	<td><%=	@email.calculate_rate( 'click', email_type,) %></td>
		     	<td><%= @email.calculate_rate( 'open', email_type) %></td>
		  </tr>
				<% end %>
		</table>		


  